Source: lxd
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Mathias Gibbens <mathias@calenhad.com>
Section: admin
Testsuite: autopkgtest-pkg-go
Priority: optional
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/go-team/packages/lxd
Vcs-Git: https://salsa.debian.org/go-team/packages/lxd.git
Homepage: https://github.com/lxc/lxd
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/lxc/lxd

Package: lxd
Architecture: linux-any
Pre-Depends: ${misc:Pre-Depends}, adduser
Depends: ${misc:Depends},
         ${shlibs:Depends},
         attr,
         ca-certificates,
         dnsmasq,
         liblxc-common,
         lxcfs,
         rsync,
         squashfs-tools,
         uidmap,
         libuv1,
         iptables,
         xz-utils
Recommends: apparmor
# First line of suggested packages will enable additional LXD storage backends
Suggests: btrfs-progs, ceph-common, lvm2, zfsutils-linux,
          lxd-agent, lxd-tools, gdisk, tomoyo-tools
Built-Using: ${misc:Built-Using}
Description: Powerful system container and virtual machine manager - daemon
 LXD is a next generation system container and virtual machine manager.
 It offers a unified user experience around full Linux systems running
 inside containers or virtual machines.
 .
 It's image based with pre-made images available for a wide number of
 Linux distributions and is built around a very powerful, yet pretty
 simple, REST API.
 .
 This package contains the LXD daemon.
